<!DOCTYPE html>
<html>
<head>
	<title>Account Manager</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<style type="text/css">
		body{
			text-align: center;

		}
		.content{
			padding: 100px 50px;
		}
		input{
			width:30%;
			margin: auto; 
		}
		.btn{

			margin: 20px;
		}
	</style>
</head>
<body>
	<div>
		<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
  			<h1 class="navbar-brand">ACCOUNT MANAGER</h1>
  			
		</nav>
	</div>
		{% block content %}
			<div class="content">
				<h2>Password Reset Sent</h2>
				<p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

				If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder./p>
				
			</div>
		{% endblock %}
</body>
</html>
